
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>App</title>
</head>
<body>
    <div id="root"></div>
</body>
<script src="~/js/partyapp.bundle.js"></script>
</html>
