@using SpotSync.Models.Shared;
@using SpotSync.Models.Party
@model BaseModel<PartyModel>
@{
    var PartyModel = Model.PageModel;
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<style>
    #is-now-playing-information > p {
        display: inline-block;
    }

    #search-results-container {
        position: absolute;
        top: 45px;
    }

    #search-outline {
        position: relative;
    }

    .hidden {
        display: none;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        max-width: 650px;
    }

    .spotify-search-results {
        position: absolute;
        width: 100%;
    }

    li:hover {
        background-color: hsl(0, 0%, 96%);
    }

    li {
        padding: 10px;
    }

    .spotify-search-results > .box {
        padding: 0px;
    }

    .is-input-wrapper {
        position: relative;
    }

    .artist {
    }

    .loader {
        height: 40px;
        width: 40px;
    }

    .loader-wrapper {
        display: none;
    }

        .loader-wrapper.is-active {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

    .increment-search-box {
        width: 80%;
    }

    #search-spotify-input {
        transition: width .3s ease-in-out;
        background-color: white;
    }

    .track-view, #suggested-tracks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .track-view .track-title, #suggested-tracks .track-title {
        }

        .track-view .artist, #suggested-tracks .artist {
            color: #7d7d7d;
        }

    .track-item {
        margin: 3px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        width: 300px;
        justify-content: space-between
    }

        .track-item:hover {
            background-color: #ececec;
            border-radius: 5px;
        }

    .add-icon {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .fas.fa-plus {
        padding: 10px;
    }

        .fas.fa-plus:hover {
            color: black;
        }

    #status-bar {
        position: fixed;
        bottom: 0px;
        display: flex;
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;
    }


    #more-information-popup {
        position: absolute;
        bottom: 80px;
        right: 20px;
        border-radius: 20px;
        padding: 10px;
    }
</style>

<section class="section">
    <div id="search-outline" class="pb-4">
        <div class="">
            <input id="search-spotify-input" class="input" type="text" placeholder="Search for Tracks, Artists, Albums to Add to Queue" />
        </div>
        <div id="search-results-container" class="box hidden">
            <b>Suggested Tracks</b>
            <div id="suggested-search-loader" class="loader-wrapper is-active">
                <div class="loader is-loading"></div>
            </div>
            <div id="suggested-tracks">

            </div>
            <div id="track-search-loader" class="loader-wrapper">
                <div class="loader is-loading"></div>
            </div>
            <div class="hidden" id="search-results">
                <b>Tracks</b>
                <div class="track-view">
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        @if (true)
        {
            <h1 class="subtitle">Queue</h1>
            <table class="table nolines center interactive is-fullwidth" id="queue"></table>
            <div id="queue-loader" class="loader-wrapper is-active">
                <div class="loader is-loading"></div>
            </div>
            <div id="no-queue" class="hidden">
                <div class="is-flex is-justify-content-center">
                    <h2 class="subtitle">There is no queue. Search a track, artist, or album above to add it to the queue.</h2>
                </div>
            </div>
        }
        else
        {
            <div>
                <div style="display: flex; justify-content: space-between">
                    <div id="is-search-spotify-wrapper" class="is-input-wrapper">
                        <input autocomplete=off id="search-spotify-input" class="input" type="text" placeholder="Search Spotify for Music to Add" />
                        <div class="spotify-search-results">
                            <div class="box">
                                <ul id="results">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="container pt-2 mb-5" style="z-index: -1">
        <div class="box">
            <div>
                <h1 class="subtitle">History</h1>
                <table class="table center nolines is-fullwidth" id="history"></table>
                <div id="history-loader" class="loader-wrapper is-active">
                    <div class="loader is-loading"></div>
                </div>
                <div id="no-history" class="hidden">
                    <div class="is-flex is-justify-content-center">
                        <h2 class="subtitle">There is no history.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal">
    <div class="modal-background"></div>
    <div class="card">
        <header class="card-header">
            <p id="card-header" class="card-header-title">
            </p>
        </header>
        <div class="card-content">
            <div id="card-content" class="content">
            </div>
        </div>
        <footer id="card-footer" class="card-footer">
        </footer>
    </div>
</div>

@section StatusBar {
    <div id="status-bar" class="has-background-white-ter">
        <div style="display:flex;">
            <img id="albumArt" style="width:60px; " />

            <div id="now-playing-information" style="padding: 10px; box-sizing: border-box">
                <p id="track"></p>
                <p id="artist"></p>
            </div>
        </div>

        <div style="display:flex; align-items: center;">
            <i id="toggle-playback" class="fas fa-pause-circle fa-2x"></i>
            <i id="skip" class="fas fa-step-forward fa-1x"></i>
        </div>

        <div style="display:flex; align-items: center;">
            <i id="toggle-information-menu" class="fas fa-ellipsis-v fa-1x mr-5"></i>
        </div>

        <div id="more-information-popup" class="has-background-white-ter hidden">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="p-3">
                    <strong>@Model.PartyCode</strong>
                </div>
                <div class="pb-3">
                    <button id="generate-playlist-button" class="button is-primary">Generate Playlist</button>
                    <button id="sync-music-button" class="button is-primary hidden" onclick="Spotibro.SyncMusicForUser()">Sync Music</button>
                </div>
                <div class="pb-3">
                    <a class="button is-danger" href="/party/leaveparty?partyCode=@PartyModel.PartyCode">Leave Party</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>

    <script>
        Spotibro.RealtimeFunctionality("@PartyModel.PartyCode");

        /*
        Sortable.create(suggestedSongsElement, {
            group: {
                name: 'shared',
                put: false
            },
            animation: 300,
            easing: "cubic-bezier(0.76, 0, 0.24, 1)",
            ghostClass: "has-background-white-ter",
            chosenClass: "has-background-info-light",
            dragClass: "has-background-info-light"
        });
        */

        u("#results").children().on('click',(event) => {
            console.log("clicked")
        })

    </script>
}
