@using SpotSync.Models.Shared;
@using SpotSync.Models.Party
@model BaseModel<PartyModel>
@{
    var PartyModel = Model.PageModel;
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<style>
    #is-now-playing-information > p {
        display: inline-block;
    }

    .spotibro-title {
        font-weight: bold;
    }

    .spotibro-text {
        color: #5a5a5a;
    }

    #search-results-container {
        position: absolute;
        top: 45px;
        width: 100%;
    }

    #search-outline {
        position: relative;
    }

    .active-device {
        color: #00c4a7;
    }

    .device {
        padding: 5px 2px;
        margin: 5px 0;
    }

    .device:hover {
        background-color: lightgrey;
    }

    .hidden {
        display: none !important;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        max-width: 650px;
    }


    .spotify-search-results {
        position: absolute;
        width: 100%;
    }

        .spotify-search-results > .box {
            padding: 0px;
        }

    .is-input-wrapper {
        position: relative;
    }

    .artist {
    }

    .loader {
        height: 40px;
        width: 40px;
    }

    .loader-wrapper {
        display: none;
    }

        .loader-wrapper.is-active {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

    .increment-search-box {
        width: 80%;
    }

    #search-spotify-input {
        transition: width .3s ease-in-out;
        background-color: white;
    }

    .track-view, #suggested-tracks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .track-view .track-title, #suggested-tracks .track-title {
        }

        .track-view .artist, #suggested-tracks .artist {
            color: #7d7d7d;
        }

    .track-item {
        margin: 3px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        width: 300px;
        justify-content: space-between
    }

        .track-item:hover {
            background-color: #ececec;
            border-radius: 5px;
        }

    .add-icon {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .fas.fa-plus {
        padding: 10px;
    }

        .fas.fa-plus:hover {
            color: black;
        }

    #status-bar {
        position: fixed;
        bottom: 0px;
        display: flex;
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;
    }

    #devices-popup {
        right: 50px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #more-information-popup {
        right: 10px;
    }

    .now-playing-popup {
        position: absolute;
        bottom: 70px;
        border-radius: 20px;
        padding: 5px;
    }


    .spotibro-icon {
        margin: 10px;
        padding: 10px;
    }

        .spotibro-icon:hover {
            background-color: #dedede;
            border-radius: 20px;
        }

    .np-box {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .np-box:first-child > div {
            margin-right: auto;
        }

        .np-box:last-child > div {
            margin-left: auto;
        }

    .icon-spacing {
        margin: 5px;
    }

    .now-playing-icons > i:hover {
        opacity: 0.7;
    }
</style>

<section class="section">
    <p class="spotibro-title">Party @Model.PartyCode</p>
    <div id="party-tabs" class="tabs">
        <ul>
            <li class="is-active"><a data-page="queue">Queue</a></li>
            <li><a data-page="history">History</a></li>
        </ul>
    </div>

    <div id="queue-container">
        <div id="search-outline" class="pb-4">
            <div class="">
                <input id="search-spotify-input" class="input" type="text" placeholder="Search for Tracks, Artists, Albums to Add to Queue" />
            </div>
            <div id="search-results-container" class="box hidden">
                <b>Suggested Tracks</b>
                <div id="suggested-search-loader" class="loader-wrapper is-active">
                    <div class="loader is-loading"></div>
                </div>
                <div id="suggested-tracks">

                </div>
                <div id="track-search-loader" class="loader-wrapper">
                    <div class="loader is-loading"></div>
                </div>
                <div class="hidden" id="search-results">
                    <b>Tracks</b>
                    <div class="track-view">
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <p class="spotibro-title">Queue</p>
            <table class="table nolines center interactive is-fullwidth" id="queue"></table>
            <div id="queue-loader" class="loader-wrapper is-active">
                <div class="loader is-loading"></div>
            </div>
            <div id="no-queue" class="hidden">
                <div class="is-flex is-flex-direction-column is-align-items-center ">
                    <h2 class="subtitle">
                        There currently is no queue. Search a track, artist, or album above to add it to the queue
                    </h2>
                    <h2 class="subtitle">
                        or
                    </h2>
                    <button id="generate-playlist-button" class="button is-primary">Generate Playlist</button>
                </div>
            </div>
        </div>
    </div>
    <div id="history-container" class="hidden">
        <div class="container pt-2 mb-5" style="z-index: -1">
            <div class="box">
                <div>
                    <h1 class="subtitle">History</h1>
                    <table class="table center nolines is-fullwidth" id="history"></table>
                    <div id="history-loader" class="loader-wrapper is-active">
                        <div class="loader is-loading"></div>
                    </div>
                    <div id="no-history" class="hidden">
                        <div class="is-flex is-justify-content-center">
                            <h2 class="subtitle">There is no history.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="settings-container" class="hidden">
        <h2 class="subtitle">Settings</h2>
    </div>
</section>



<div class="modal">
    <div class="modal-background"></div>
    <div class="card">
        <header class="card-header">
            <p id="card-header" class="card-header-title">
            </p>
        </header>
        <div class="card-content">
            <div id="card-content" class="content">
            </div>
        </div>
        <footer id="card-footer" class="card-footer">
        </footer>
    </div>
</div>

@section StatusBar {
    <div id="status-bar" class="has-background-white-ter">
        <div class="np-box" style="display:flex;">
            <img id="albumArt" style="width:60px;" />

            <div id="now-playing-information" style="padding: 10px; box-sizing: border-box">
                <p id="track"></p>
                <p id="artist"></p>
            </div>
        </div>

        <div class="np-box now-playing-icons" style="display:flex; align-items: center;">
            <i id="toggle-playback" class="fas fa-pause-circle fa-2x icon-spacing"></i>
            <i id="skip" class="fas fa-step-forward fa-1x icon-spacing"></i>
        </div>

        <div class="np-box" style="display:flex; justify-content: flex-end">
            <i id="toggle-devices-popup" class="fas fa-headphones background-grey-hover spotibro-icon"></i>
            <i id="toggle-information-menu" class="fas fa-ellipsis-v fa-1x spotibro-icon" ></i>
        </div>

        <div id="devices-popup" class="has-background-white-ter p-5 now-playing-popup hidden">
            <p class="spotibro-title">Available Devices</p>
            <div id="device-loader" class="loader-wrapper is-active">
                <div class="loader is-loading"></div>
            </div>
            <div id="active-device">
            </div>
            <i id="refresh-devices" class="fas fa-sync"></i>
        </div>

        <div id="more-information-popup" class="has-background-white-ter p-5 now-playing-popup hidden">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="p-3">
                    <p class="spotibro-title">Party Code</p>
                    <p class="spotibro-text">@Model.PartyCode</p>
                </div>
                <div class="pb-3">
                    <button id="sync-music-button" class="button is-primary hidden" onclick="Spotibro.SyncMusicForUser()">Sync Music</button>
                </div>
                <div class="pb-3">
                    <a class="button is-danger" href="/party/leaveparty?partyCode=@PartyModel.PartyCode">Leave Party</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/main.bundle.js"></script>
    <script src="~/js/party.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>

    <script>
        Spotibro.ConnectToParty('@PartyModel.PartyCode');
        Spotibro.SetUpSpotifyPlayback();
    </script>
}
