@model SpotSync.Models.Shared.BaseModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotibro</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav">
            <img class="logo" src="~/assets/logo.svg" />
            @if (User.Identity.IsAuthenticated)
            {
        <div>
            <a class="button" href="/party/app">Dashboard</a>
            <a class="button" href="/account/logout">Logout</a>
        </div>
            }
            else
            {
                <a class="button" href="/account/login">Login</a>
            }
        </nav>
    </header>
    @RenderBody()
</body>
</html>
