@using SpotSync.Models.Shared;
@using SpotSync.Models.Dashboard;
@model BaseModel<DashboardModel>
@{
    ViewData["Title"] = "Dashboard";
    var DashboardModel = Model.PageModel;
}
<script src="~/js/bundle.js"></script>
<style>
    .albumArtPreview {
        width: 250px;
    }

    .album-art-view {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .is-active {
        display: flex !important;
    }

    #album-cover {
        display:none;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>
<section class="section">
    <h1 class="title">@DashboardModel.RandomGreeting @DashboardModel.Name</h1>

    @if (DashboardModel.AvailableParties != null && DashboardModel.AvailableParties.Count > 0)
    {
        <div class="available-parties py-3">
            <div class="box">

                <h2 class="subtitle">Available Parties to Join</h2>
                <div class="album-art-view">
                    @foreach (var party in DashboardModel.AvailableParties)
                    {
                    <div class="px-6 has-text-centered">
                        <div style="position:relative;">
                            <img class="albumArtPreview" src="@party.AlbumArtUrl" />
                            <!--
                            <div class="is-active" id="album-cover">
                            </div>
                            -->
                        </div>
                        <p>@party.ListenerCount Listener</p>
                        @if (Model.IsUserInParty && party.PartyCode.Equals(Model.PartyCode, StringComparison.OrdinalIgnoreCase))
                        {
                            <a class="button is-outlined is-danger" href="/party/leaveparty?partyCode=@party.PartyCode">Leave</a>
                        }
                        else
                        {
                            <a class="button is-outlined is-primary" href="/party/joinparty?partyCode=@party.PartyCode">Join</a>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    }

    <div class="columns py-2">
        <div class="column is-one-third px-3">
            <div class="box">
                <form asp-controller="Party" asp-action="JoinParty">
                    <h2 class="subtitle">Join a Party</h2>
                    <div class="field">
                        <label class="label">Party Code</label>
                        <div class="control">
                            <input name="partyCode" class="input" type="text" placeholder="ex. B4A152">
                        </div>
                        <p class="help">This is a six alpha-numeric number that identifies the party you want to join. Contact someone in the party to send you the code.</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <h2 class="subtitle">Create a Party</h2>
                <form asp-controller="Party" asp-action="StartParty">
                    <button type="submit" class="button is-primary">Create Party</button>
                </form>
            </div>
            
        </div>
    </div>
</section>

@section Scripts {
    <script>
        u("img").on("mouseenter", (event) => {
            console.log(event.target);
            u(event.target).siblings("#album-cover").addClass("is-active");
        })

        u("#album-cover").on("mouseleave", (event) => {
            u(event.target).removeClass("is-active");
        })
    </script>
} 
