@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container">
        <div class="has-text-centered py-6">
            <h1 class="title">Realtime Collobration on Spotify with your Friends</h1>
            <h2 class="subtitle">Free and Easy to Use</h2>
        </div>
        <div class="columns py-6 is-vcentered">
            <div class="column">
                <div class="container has-text-centered is-align-items-center mt-6">
                    <p>Listen with friends in realtime with your Spotify library.</p>
                    <p>Manage your party playlist with upvotes and downvotes in realtime</p>
                    <p>Sign in with your existing <a href="@Url.Action("Login","Account")">Spotify account</a></p>
                </div>
            </div>
            <div class="column">
                <img width="400" src="~/assets/headphones-color.svg" />
            </div>
        </div>
    </div>
</section>

