@{
    ViewData["Title"] = "Home Page";
}

<div class="home-content">
    <div class="banner">
        <h1> Welcome to SpotSync</h1>
        <h3>A way to sync your Spotify with others</h3>
        <div class="text-center">
            <a id="spotifyLoginButton" class="spotify-button" href="/Account/Login">Login with Spotify</a>
        </div>
    </div>
</div>

