.error {
    margin: 10px;
    background-color: #ED4337;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.success {
    margin: 10px;
    background-color: #4BB543;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.box {
    margin: 10px 10px;
}

.box-inner {
    margin: 10px;
}
