@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@200;400;500;600;700&display=swap");
input,
textarea {
  margin: 0;
  padding: 0;
  margin: 0.5em 0;
  font-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  resize: vertical; }
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border: 2px solid #ff8077 !important; }

select {
  margin: 0;
  padding: 0;
  margin: 0.5em 0;
  font-size: 100%;
  border-radius: 0;
  resize: vertical; }
  select.ng-invalid.ng-touched {
    border: 2px solid #ff8077 !important; }

.invalid {
  border: 2px solid #ff8077 !important; }

.form-group {
  display: block;
  padding: 1em; }

.input-text {
  outline: none;
  background-color: #3e3e3e;
  border: solid 1px #3e3e3e;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  transition: box-shadow 0.3s, border 0.3s; }
  .input-text:focus {
    border: solid 1px gray; }

.form-control {
  outline: none;
  background-color: #f1f1f1;
  border: none;
  height: 40px;
  border-radius: 7px;
  padding: 10px;
  transition: box-shadow 0.3s; }

.hidden-control {
  display: none; }

.input-pair {
  display: flex;
  justify-content: space-between; }
  .input-pair input {
    width: 50%; }
  .input-pair input:first-child {
    margin-right: 0.5em; }
  .input-pair input:last-child {
    margin-left: 0.5em; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.btn {
  padding: 10px 15px;
  margin: 0.5em 0;
  width: fit-content;
  border: none;
  border-radius: 5px;
  background-color: gray;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: lightgrey; }
  .btn:hover, .btn:active {
    color: lightgrey; }

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #187ede;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); }
  .btn-primary:hover, .btn-primary:active,
  .btn-primary:not(:disabled):not(.disabled).active:hover,
  .btn-primary:not(:disabled):not(.disabled).active:active,
  .btn-primary:not(:disabled):not(.disabled):active:hover,
  .btn-primary:not(:disabled):not(.disabled):active:active,
  .show > .btn-primary.dropdown-toggle:hover,
  .show > .btn-primary.dropdown-toggle:active {
    background-color: #105ba1; }

.btn-bold {
  font-weight: bold; }

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between; }

i.btn-icon {
  line-height: 0;
  position: relative;
  top: 5px;
  transition: all 0.5s; }

.current-song-box {
  border-radius: 10px;
  padding: 20px;
  margin: 10px; }

.current-song-box-flex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.current-song-box-item {
  padding: 10px; }

.now-playing-art-link {
  cursor: pointer;
  display: flex;
  justify-content: center; }
  .now-playing-art-link .now-playing-art-container {
    position: relative;
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.5s; }
    .now-playing-art-link .now-playing-art-container:hover {
      transform: scale(1.02);
      box-shadow: 0 10px 60px 0 #3f3f3f; }
  .now-playing-art-link .now-playing-art {
    max-width: 100%;
    max-height: 350px;
    border-radius: 7px; }
  .now-playing-art-link .album-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    text-shadow: 0px 1px 3px black; }
  .now-playing-art-link:hover {
    text-decoration: none; }

.no-music {
  text-align: center;
  padding: 6em 1em; }
  .no-music h4 {
    margin-bottom: 1em; }

.open-spotify-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0;
  background-color: #187ede;
  color: lightgrey;
  border-radius: 100px; }
  .open-spotify-btn:hover {
    color: lightgrey;
    background-color: #105ba1;
    text-decoration: none; }

.sync-btn:hover i {
  transform: rotate(-360deg); }

.box-inner {
  margin: 1em 0;
  padding-bottom: 1em; }

#create-party-box {
  border-bottom: solid 1px gray; }

.current-song {
  outline: thin solid #187ede; }

td, th {
  padding: 20px; }

.responsive-icon {
  transition: transform 0.2s; }

.responsive-icon:hover {
  transform: scale(1.2); }

.no-display {
  display: none; }

.progress {
  margin: 20px; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

body {
  min-height: 100vh; }

*, body, nav, footer {
  color: lightgrey; }

body, nav, footer {
  background-color: #272727; }

.spotsync-icon {
  margin-right: 5px;
  background-color: #187ede;
  line-height: 0;
  display: inline-flex;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  justify-content: center;
  align-items: center; }
  .spotsync-icon:hover .material-icons {
    transform: rotate(-180deg); }
  .spotsync-icon .material-icons {
    transition: transform 0.5s;
    color: black !important; }

/* Navbar styles
--------------------------------------------------*/
nav {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3); }

a.navbar-brand {
  color: #187ede;
  white-space: normal;
  text-align: center;
  word-break: break-all;
  display: inline-flex;
  align-items: center; }

nav a {
  color: lightgrey; }

nav a, a.navbar-brand {
  transition: color 0.3s; }
  nav a:hover, a.navbar-brand:hover {
    color: #105ba1; }
  nav a:hover .spotsync-icon, a.navbar-brand:hover .spotsync-icon {
    background-color: #105ba1; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */ }
  .footer a {
    color: #187ede; }

/* Home page styles
------------------------------------------------*/
main {
  min-height: 80vh;
  position: relative;
  max-width: 900px;
  margin: auto; }

.home-content {
  height: 50vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }

.spotify-button {
  width: auto;
  max-width: 300px;
  min-width: 250px;
  background-color: #187ede;
  color: lightgrey;
  font-size: 16px;
  border-radius: 500px;
  padding: 20px;
  margin: 1em auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3); }
  .spotify-button:hover {
    background-color: #105ba1;
    color: lightgrey;
    text-decoration: none;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); }

.notification-area {
  position: fixed;
  bottom: 20px;
  right: 20px; }

/* Toasts
----------------------------------------------------*/
.toast small, .toast strong, .toast .toast-body {
  color: #000000; }
