@import '_variables.scss';

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
    padding: 10px 15px;
    margin: 0.5em 0;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: gray;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: $primary-txt-color;

    &:hover, &:active {
        color: $primary-txt-color;
    }
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    background-color: $primary-accent-color;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);

    &:hover, &:active {
        background-color: $primary-accent-color-drk;
    }
}



.btn-bold {
  font-weight: bold;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i.btn-icon {
    line-height: 0;
    position: relative;
    top: 5px;
    transition: all 0.5s;
}