$input-height: 40px;
$border-radius: 7px;

form {
}

input,
textarea {
    margin: 0;
    padding: 0;
    margin: 0.5em 0;
    font-size: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    //appearance: none;
    border-radius: 0;
    resize: vertical;

    &.ng-invalid.ng-touched {
        border: 2px solid rgb(255, 128, 119) !important;
    }
    // &.ng-valid.ng-touched {
    //   border: 2px solid rgb(92, 236, 56) !important;
    // }
}

select {
    margin: 0;
    padding: 0;
    margin: 0.5em 0;
    font-size: 100%;
    border-radius: 0;
    resize: vertical;

    &.ng-invalid.ng-touched {
        border: 2px solid rgb(255, 128, 119) !important;
    }
}

.invalid {
    border: 2px solid rgb(255, 128, 119) !important;
}

.form-group {
    display: block;
    padding: 1em;
}

.input-text {
    outline: none;
    background-color: #3e3e3e;
    border: solid 1px #3e3e3e;
    height: $input-height;
    width: 100%;
    border-radius: $border-radius;
    padding: 10px;
    transition: box-shadow 0.3s, border 0.3s;

    &:focus {
        border: solid 1px gray;
    }
}

.form-control {
    outline: none;
    background-color: rgb(241, 241, 241);
    border: none;
    height: $input-height;
    border-radius: $border-radius;
    padding: 10px;
    transition: box-shadow 0.3s;
}

.hidden-control {
    display: none;
}

.input-pair {
    display: flex;
    justify-content: space-between;

    input {
        width: 50%;
    }

    input:first-child {
        margin-right: 0.5em;
    }

    input:last-child {
        margin-left: 0.5em;
    }
}
