@import '_variables.scss';

.sync-btn {
    &:hover i {
        transform: rotate(-360deg);
    }
}

.box-inner {
    margin: 1em 0;
    padding-bottom: 1em;
}

#create-party-box {
    border-bottom: solid 1px gray;
}

.current-song {
    outline: thin solid $primary-accent-color;
}

td, th {
    padding: 20px;
}

.responsive-icon {
    transition: transform 0.2s;
}

.responsive-icon:hover {
    transform: scale(1.2);
}

.no-display {
    display: none;
}
