@import 'partials/_variables.scss';
@import 'partials/_forms.scss';
@import 'partials/_buttons.scss';
@import 'partials/_fonts.scss';

@import 'partials/_dashboard.scss';
@import 'partials/_party.scss';

html, body {
    margin: 0;
    padding: 0;
    font-family: $montserrat;
}

body {
    min-height: 100vh;
}

*, body, nav, footer {
    color: $primary-txt-color;
}

body, nav, footer {
    background-color: $primary-bg-color;
}

.spotsync-icon {
    margin-right: 5px;
    background-color: $primary-accent-color;
    line-height: 0;
    display: inline-flex;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    &:hover .material-icons {
        transform: rotate(-180deg);
    }

    .material-icons {
        transition: transform 0.5s;
        color: black !important;
    }
}

/* Navbar styles
--------------------------------------------------*/

nav {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3);
}

a.navbar-brand {
    color: $primary-accent-color;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: inline-flex;
    align-items: center;
}

nav a {
    color: $primary-txt-color;
}

nav a, a.navbar-brand {
    transition: color 0.3s;

    &:hover {
        color: $primary-accent-color-drk;
    }

    &:hover .spotsync-icon {
        background-color: $primary-accent-color-drk;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    a {
        color: $primary-accent-color;
    }
}


/* Home page styles
------------------------------------------------*/
main {
    min-height: 80vh;
    position: relative;
    max-width: 900px;
    margin: auto;
}

.home-content {
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.spotify-button {
    width: auto;
    max-width: 300px;
    min-width: 250px;
    background-color: $primary-accent-color;
    color: $primary-txt-color;
    font-size: 16px;
    border-radius: 500px;
    padding: 20px;
    margin: 1em auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);

    &:hover {
        background-color: $primary-accent-color-drk;
        color: $primary-txt-color;
        text-decoration: none;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
    }
}

.notification-area {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Toasts
----------------------------------------------------*/
.toast {
    small, strong, .toast-body {
        color: $primary-txt-color-drk;
    }
}
