
@{
    ViewData["Title"] = "NoPremium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homepage-body"><h1 class="main-promo-title">No Spotify Premium?</h1><p class="text-body">Looks like you do not have Spotify premium. To use Spotibro, you need to have Spotify Premium</p></div>

