<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reported</title>
</head>
<body>
    <section class="section">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title">Thank you!</h1>
                <h2 class="subtitle">Your added error description was reported successfully! We will get on this as fast as we can</h2>
                <h2 class="subtitle">Feel free to get back to partying with your friends. You might need to log out and log back in</h2>
            </div>
            <div class="column">
                <div style=" display: flex; flex-direction: row; justify-content: center;">
                    <img style="width: 50%" src="~/assets/Shipping.svg" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>
